Hello there,

First off, thank you for being a part of Biome’s release. I’ve got a lot in store for the Kickstarter, and I can’t wait to share it with you on October 11.

In the meantime, I’m beyond excited to give you the chance to read Biome for free. All you have to do is share your unique link by email, Facebook, and Twitter, and you’ll unlock rewards for each friends who signs up. The top tier will receive a signed first edition copy of Biome in paperback. Which is, like, the best thing you can ever receive.



Remember, the deadline for earning a free copy is also October 11. So get sharing!

If you haven’t already, be sure to read the first half of Biome on my web page or Wattpad. Just click the link below to get a headstart.

http://ryan-galloway.com/biome

#{@user.user_url(root_url)}


Thanks again for joining me on this journey. I’ll be in touch soon!

All the best,

R. G.
Ryan Galloway
ryan-galloway.com | @ryangallows
