!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Untitled
    :css
      body {
        font-family: 'Nexa', Helvetica, Arial, sans-serif;
      }
  %body
    Hello there,
    %br/
    %br/
    First off, thank you for being a part of Biome’s release. I’ve got a lot in store for the Kickstarter, and I can’t wait to share it with you on October 11.
    %br/
    %br/
    In the meantime, I’m beyond excited to give you the chance to read Biome for  free. All you have to do is share
    %a{:href => "#{@user.referral_url(root_url)}", :target => "_blank"} your unique link
    by email, Facebook, and Twitter, and you’ll unlock rewards for each friends who signs up.
    %b The top tier will receive a signed first edition copy of Biome in paperback.
    Which is, like, the best thing you can ever receive.
    %br/
    %br/
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
            %tr
              %td{:align => "center", :bgcolor => "#e9703e", :style => "-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;"}
                %a{:href => "\#{@user.referral_url(root_url)}", :style => "font-size: 16px; font-family: 'nexa', Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 8px 12px; border: 1px solid #e9703e; display: inline-block;", :target => "_blank"} SHARE AND EARN
    %br/
    Remember,
    = succeed "." do
      %b the deadline for earning a free copy is also October 11
    %br/
    %br/
    If you haven’t already, be sure to read the first half of Biome on my web page or Wattpad. Just click the link below to get a headstart.
    %br/
    %br/
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
            %tr
              %td{:align => "center", :bgcolor => "#e9703e", :style => "-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;"}
                %a{:href => "http://www.ryan-galloway.com/biome/", :style => "font-size: 16px; font-family: 'Nexa', Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 8px 12px; border: 1px solid #e9703e; display: inline-block;", :target => "_blank"} READ BIOME
    %br/
    %br/
    Thanks again for joining me on this journey. I’ll be in touch soon!
    %br/
    %br/
    All the best,
    %br/
    %br/
    R. G.
    %br/
    %br/
    \--
    %br/
    %b Ryan Galloway
    %br/
    ryan-galloway.com | @ryangallows
    %br/
    %br/
