%section#main
  .review
    %span.reviewtext “[A] rugged, tenacious story. The ending, meanwhile, satisfies on every level.” —Kirkus Reviews
  .cover 
    =image_tag("welcome.png", class: "cover-title")
    %h1.cover-subtitle <em>Biome</em> is coming to Kickstarter on October 11.<br>This is your chance to read the book for free.
    #form-wrapper
      = render "form"
      %small= link_to('Wait, are you trying to steal my identity?','#', :id => 'ShowPrivacyInfo')
    %div#PrivacyInfo
      No way, friend. I like who I am.</br></br>My name is Ryan, and I’m the author of this book. I’m a real person. I promise not to spam you, sell your email address for Apple credit, or steal your identity (unless you’re Ryan Gosling, the “cooler Ryan”).

#new-user-footer
  %footer <em>Biome</em> ships to the <b>United States</b> and <b>Canada</b>. Read full <a href="/terms" target="blank">terms and conditions.</a>

