%section#main
  .review
    %span.reviewtext “[A] rugged, tenacious story. The ending, meanwhile, satisfies on every level.” —Kirkus Reviews
  .cover 
    =image_tag("welcome.png", class: "cover-title")
    %h1.cover-subtitle <em>Biome</em> is coming to Kickstarter on October 11.<br>This is your chance to read the book for free.
    #form-wrapper
      = render "form"
      %small= link_to('Are you going to spam me?','#', :id => 'ShowPrivacyInfo')
    %div#PrivacyInfo
      Nope. My name is Ryan, and I’m the author of this book. I absolutely promise not to spam you, steal your identity, or sell your email address for Apple credit.

#new-user-footer
  %footer <em>Biome</em> ships to the <b>United States</b> and <b>Canada</b>. By using this site, you agree to the <a href="/terms" target="blank">Terms and Conditions.</a>

