.container.terms
  %br
  %h2
    %strong Biome Referral Program Terms and Conditions
  %br
  %p
    %strong What is Biome?
  %p
    <em>Biome</em> is a Young Adult Science Fiction novel by author Ryan Galloway. For more information about the story, feel free to <a href="https://www.goodreads.com/book/show/31926750-biome?ac=1&from_search=true" target="blank">check it out on Goodreads</a>.
  %br
  %p
    %strong What is the Biome Referral Program?
  %p
    The Biome Referral Program was created by Ryan Galloway. It allows you to share a unique link with friends and family to earn rewards associated with his debut novel, <em>Biome</em>.  
  %p
    When a friend signs up using your unique referral link, they’ll receive a unique referral link of their own. At the same time, you’ll receive a referral credit toward your next swanky reward.
  %p
    Personal referrals are simply that—personal and non-commercial. That means you can share your invitation link with people you know over email or on your own social media pages, but not on search engines or other paid marketing sites. Abuse of the Biome Referral Program will result in the deactivation of your account(s), loss of pending rewards, and a forfeiture of the House Cup to Slytherin. Ryan reserves the right to determine which referrals, if any, are fraudulent.
  %p
    In order to prevent fraud, Ryan must limit each IP address to only two unique referral links. This prevents loser butt-faces from abusing Ryan, who is a poor independent artist.
  %br
  %p
    %strong How do I refer my people?
  %p
    After you sign up for Ryan’s mailing list, you will find your referral link on the confirmation page. To access it again, simply visit <a href="http://www.readbiome.com/" target="blank">readbiome.com</a> or use the link found in your confirmation email.
  %p
    Referring people is easy. You can tell them about the story with words, pantomime the plot line, or explain things in song. Blackmail is also an option.*
  %p
    (*Blackmail is not an option. It’s illegal, and this website is in no way advocating criminal activity. Ryan just has a dark sense of humor when writing Terms and Conditions.)
  %br
  %p
    %strong How long does the program last?
  %p
    Between 12:01 a.m. PST on October 3, 2016 and 11:59 p.m. PST on October 10, 2016, you will receive a referral credit for every friend you successfully refer. Rewards will be awarded when you reach a designated reward tier.
  %p
    Now, go refer everyone you’ve ever met!
  %br
  %p
    %strong I live outside the U.S. and Canada. Can I still do this thing?
  %p
    Yes, you can. Sort of.
  %p
    Right now, Ryan is a small independent artist. Shipping across the globe is expensive—which is why he can’t commit to shipping anywhere else. So, all physical goods are unavailable to users who live outside the United States and Canada.
  %p
    However, in the magical age of computerization, digital goods can be sent more easily. Which means the third reward tier—a copy of<em>Biome</em> as an ebook—is available worldwide. To earn your digital copy, you must successfully refer a minimum of 25 people.
  %br
  %p
    %strong When can I expect to receive my swag?
  %p
    The Biome Referral Program ends at 11:59 p.m. on October 10, 2016. Once Ryan has gathered the referrals together, he’ll be busy with Biome’s Kickstarter, which launches on October 11. If you earned the original<em>Biome</em> concept art, you can expect to receive a link within a week or so of the program’s completion. If you earned a physical reward or an ebook copy of<em>Biome</em>, things will likely take a bit longer.
  %p
    All rewards will be fulfilled by December 6, 2016. Ryan will make it his priority to move that date up if at all possible. But again, he is a poor independent artist who works a day job. He thanks you in advance for your patience.
  %br
  %p
    %strong What does my friend need to do for me to get a referral?
  %p
    For a referral to count toward your account total, referred friends must submit a legitimate email address on the title page using your unique referral link. Illegitimate email address submissions will be detected and will not count toward your total friend referrals. So, don’t even try it, friend.
  %br
  %p
    %strong I've been referred by a friend. What can I earn?
  %p
    If you live in the United States or Canada, you’re eligible to earn a digital copy of original<em>Biome</em> concept art at five (5) referrals, a<em>Biome</em> branded pocket journal at ten (10) referrals, an ebook copy of<em>Biome</em> at 25 referrals (available in .mobi for Kindle users or .epub for iBooks, Nook, and other platforms), and a signed first edition paperback of<em>Biome</em>
    at 50 referrals.
  %p
    Also, if you refer 50 people, you’re my hero.
  %p
    Just as noted above, non-residents of the United States or Canada are ineligible for physical rewards.
  %br
  %p
    %strong My friend didn’t use my referral code. What can I do about it?
  %p
    If you meant to refer a friend and they didn’t use your link, I’m sorry to say that you’re kind of out of luck. While I’d love to provide a robust customer service experience, I am a single person and simply don’t have the bandwidth. My sincerest apologies.
  %p
    Tell your friend they’re a dumb-dumb and refer more people!
  %br
  %p
    %strong I didn’t receive referral credit. What happened?
  %p
    The Biome Referral Program may not update qualified referrals immediately. Please allow at least a couple of hours before throwing your phone/laptop out the window.
  %p
    If you believe there is a serious error, you can email me at support@readbiome.com. But again, I am a single artist trying to get the word out about a book. It may take several days before I’m able to respond to you.
  %br
  %p
    %strong Will I have to pay for shipping?
  %p
    No. Because I am not a monster.
  %p
    If you qualified for a physical reward, I’ll be reaching out by email upon completion of the program to get your name and address. This information will strictly be used for fulfilling your rewards. Once I’ve put them in the mail, I will delete your information to protect your privacy.
  %br
  %p
    %strong Why won't my referral link work?
  %p
    Remember that sharing your referral link doesn’t necessarily equate successful referrals. In order for a referral to be eligible, your friend must sign up using the link you sent. So to earn referrals, simply refer lots of people and make sure they use your link.
  %br
  %p
    %strong Are there any other terms and conditions?
  %p
    Well, I suppose you should note that these rewards have no equivalent cash value and cannot be transferred or sold by you.
  %br
  %p
    I think that about covers it. Thank you for being a part of Biome’s story. It means more than you know.
  %br
