%title Prelauncher
%meta{:content => "", :name => "Description"}/
%meta{:content => "", :name => "Keywords"}/

%link{:href => asset_path('favicon.ico'), :rel => "shortcut icon", :type => "image/x-icon"}/
%link{:href => asset_path('favicon.ico'), :rel => "apple-touch-icon", :type => "image/jpeg"}/

// Facebook
%meta{:content => "Biome - Coming Soon", :property => "og:title"}/
%meta{:content => "Biome is coming to Kickstarter—and I’ll be reading it for free. Get your free copy here.", :property => "og:description"}/
%meta{:content => "Biome is coming to Kickstarter—and I’ll be reading it for free. Get your free copy here.", :name => "twitter:description"}/

%meta{:content => root_url + image_path("cover.jpg"), :property => "og:image"}/
%meta{:content => root_url + image_path("cover.jpg"), :name => "twitter:image"}/

- if controller_name != "users"
	%meta{:content => (params[:ref] ? root_url + "users/" + params[:ref] : root_url), :property => "og:url"}/

- else
	%meta{:content => request.original_url, :property => "og:url"}/

// Google +
%meta{:content => Setting.sharing["google_plus_title"], :itemprop => "name"}/
%meta{:content => Setting.sharing["google_plus_message"], :itemprop => "description"}/
- if Setting.google_plus_image.present?
	%meta{:content => root_url + Setting.google_plus_image.url, :itemprop => "image"}/


%meta{:content => "summary_large_image", :name => "twitter:card"}/
%meta{:content => "@Prelaunchr", :name => "twitter:site"}/
%meta{:content => "Prelauncher", :name => "twitter:title"}/

%meta{:content => root_url, :name => "twitter:domain"}/

%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
